.children {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 49;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(px);
}

.application_list {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 2rem auto;
}

.headline {
  display: flex;
  color: #0B101A;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.725rem;
  padding-bottom: 17px;
  border-bottom: 1px solid #D7D8DA;
}

.headline span:first-child {
  top: 0px;
  left: 5px;
}

.headline span:nth-child(2){
  color: #ff4d4f;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  left: 8px;
  top: -2px;
}

.headline > span > span {
  color: #FF4D4F;
  text-decoration: underline;
}

.tabs {
  gap: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  margin: 12px 0 2.8rem;
  background-color: #EBEEF3;
}

.tab {
  padding: 0.5rem;
  text-align: center;
  color: #B1B4BB;
  font-size: 0.85rem;
}

.tab:nth-child(2) {
  color: white;
  background-color: #2A3958;
}

.upper_middle_row {
  border-bottom: 1px solid #D7D8DA;
  padding-bottom: 12.5px;
}

.upper_middle_row,
.lower_middle_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle_row .headline {
  font-size: 1.25rem;
  line-height: 1.438rem;
  display: flex;
  gap: 0.5rem;
  border-bottom: none;
  padding-bottom: 0;
}

.middle_row span {
  color: #5A616A;
  font-size: 0.8rem;
}


/* ---------- dropdowns ---------- */

.all_dropdowns,
.dropdown {
  display: flex;
  gap: 0.5rem;
}

.box {
  position: relative;
}

.dropdown {
  align-items: center;
  width: 8.5rem;
  background-color: white;
  border: 1px solid #B1B4BB;
  border-radius: 8px;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown svg {
  color: #5A616A;
}

.select {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(54, 54, 54, 0.15);
}

.select li {
  font-size: 0.875rem;
  cursor: pointer;
  color: #141F2D;
  height: 2.063rem;
  align-items: center;
  display: flex;
  padding: 0.375rem 1rem;
}

.select li:hover,
.selectedOption {
  background: #2A3958;
  color: white !important;
}
.select li:first-child:hover,
.selectedOption:first-child  {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.select li:last-child:hover,
.selectedOption:last-child  {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.select.is-open {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown.is-open::after {
  transform: rotate(-135deg);
  vertical-align: middle;
}

.btn {
  background: #2A3958;
  border-radius: 0.625rem;
  font-weight: 700;
  color: white;
  width: 6.25rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn:hover,
 .model_btns button:hover {
  cursor: pointer;
  box-shadow: 4px 7px 6px -4px rgb(38 41 45 / 48%);
  transition: all 0.2s ease-in-out;
}

.btn:disabled {
  opacity: 0.6;
  box-shadow: none;
}

.lower_middle_row {
  padding: 12px 0;
}

.lower_middle_row > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.lower_middle_row > p {
  margin-right: 1rem;
}

/* ---------- applications Table ---------- */

.applications_table {
  white-space: nowrap;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.labels {
  background-color:#EEF0F4;
}

tr {
  display: flex;
  width: 100%;
  align-items: center;
 }

th {
  font-weight: 700;
  font-size: 1rem;
  color: #222222;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-right: 1px solid #FFFFFF;
}

th:last-child {
  border-right: none;
}

 th, td {
  padding: 0 0.625rem;
  width: 10%;
  text-align: center;
  min-width: 5.5rem;
  min-height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labels .checkbox,
.customer .checkbox,
.labels .serial,
.customer .serial {
  width: 5%;
  min-width: 2.5rem;
}

.labels .date,
.customer .date {
  width: 15%;
  min-width: 11.25rem;
  white-space: initial;

}

.labels .reason,
.customer .reason {
  width: 35%;
  min-width: 22.313rem;
  white-space: initial;
}

.reason {
  text-align: left;
}

td {
  font-size: 0.78rem;
  font-weight: 700;
  min-height: 44px;
  min-width: 86px;
  letter-spacing: 0.03em;
}

.customer {
  background-color: #F9F9FB;
}

.customer:nth-child(odd) {
  background-color: white;
}

.docs span {
  background-color: #EBEEF3;
  border: 1px solid #D7D8DA;
  border-radius: 8px;
  min-height: 1.813rem;
  min-width: 3.875rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.docs:hover {
  cursor: pointer;
}

.approval span {
  border-radius: 10px;
  padding: 0.125rem 0.625rem;
}

.waiting > span {
  color: #9A3412;
  background-color: #FFEDD5;
}

.denied > span {
  color: #991B1B;
  background-color: #FEE2E2
}

.denied:hover {
  cursor: pointer;
}

.approved > span {
  color: #166534;
  background-color: #DCFCE7;
}

/* ---------- Scrollbar ---------- */

.applications_table::-webkit-scrollbar {
  height: 8px;
  background: #E6E8EA;
  border-radius: 20px;
}

.applications_table::-webkit-scrollbar-thumb {
  background-color: #6F80A0;
  border-radius: 20px;
  transform: matrix(0, 1, 1, 0, 0, 0);
  width: 10px;
}

.applications_table::-webkit-scrollbar-thumb:hover {
  background-color: #2A3958;
}


.applications_table .checkbox label {
  min-width: auto;
  background: transparent;
}

/* ---------- Pagination ---------- */

.pagination_frame {
  background: #F1F3F5;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
}

.arrows {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  justify-content: space-evenly;
}

.arrows button {
  border: none;
  background: transparent;
  outline: none;
}

.numbers {
  display: flex;
  font-weight: 700;
  color: #A1A1A1;
  font-size: 0.95rem;
}

.numbers span {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
}
.activePage {
  background: #2A3958;
  color: #F5F5F5;
  border-radius: 4px;
  font-size: 1.1rem;
}

.no_result {
  width: 100%;
  flex-direction: column;
  height: 50vh;
  background: white;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.popup.show {
  display: block;
}

.investment_change {
  min-height: 29rem;
}


.investment_change .investment_dropdown {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  width: 100%;
  border-bottom: 1px solid #D7D8DA;
}

.investment_change .dropdown {
  height: 2.25rem;
  width: 17.625rem;
  color: #222;
}

.investment_change .modal-open {
  width: 17.625rem;
  top: 44px;
  margin-left: 0.5rem;
}

form input[type="file"] {
  padding: 0.5rem;
  display: none;
  position: absolute;
}

.file_label {
  background: transparent;
  padding: 0;
  min-width: 4.938rem;
}

.upload_files {
  text-align: center;
  color: #222;
  background: #EBEEF3;
  border: 1px solid #D7D8DA;
  border-radius: 8px;
  cursor: pointer;
  min-width: 4.9rem;
  height: 2.25rem;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.file_input_area,
.files_list,
.files_list > div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.file_input_area {
  padding: 0.5rem;
}

.file_input_area,
.files_list {
  gap: 0.6rem;
}

.files_list {
  flex-wrap: wrap;
}

.files_list > div {
  color: #5A616A;
  letter-spacing: -0.02px;
  font-size: 0.8rem;
  text-decoration: underline;
}

.files_list svg {
  background: #DDE0E6;
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.info {
  list-style-type: disc;
  padding: 0.5rem 1.5rem;
  color: #0B101A;
  font-size: 0.813rem;
  letter-spacing: -0.02px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.model_btns {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
}

.model_btns button {
  border-radius: 10px;
  width: 10rem;
  height: 2.75rem;
  font-weight: bold;
  border: 1.5px solid #2A3958;
}

.save_btn {
  background: #2A3958;
  color: white;
}

.cancel_btn {
  background: white;
  color: #2A3958;
}

.modal {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  border-radius: 12px;
  width: 49.9rem;
}

.modal > div:first-child {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 4.5rem;
  border-bottom: 1px solid #D7D8DA;
  padding: 0 1.5rem;
}

.title {
  font-weight: 700;
  font-size: 1.125rem;
  color: #0B101A;
}

.xmark {
  color: #5A616A;
  font-size: 1.5rem;
}

.xmark:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.model_content {
  padding: 1.25rem 1.5rem 2rem 1.5rem;
  border-bottom: 1px solid #D7D8DA;
}

form {
  border: 1px solid #D7D8DA;
  color: #0B101A;
}

form > div {
  display: flex;
  min-height: 3.063rem;
}

label {
  background: #EEF0F4;
  align-items: center;
  display: flex;
  min-width: 9.375rem;
  padding: 0 0.9rem;
  border-bottom: 1px solid white;
  font-weight: 700;
  font-size: 0.95rem;
  max-width: 9.375rem;
}

.checkbox label {
  border-bottom: none;
}

input::placeholder {
  color: #0B101A;
}

input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #D7D8DA;
}

form div:last-child > label,
form div:last-child > input {
  border-bottom: none;
}

/* ---------- checkboxes ----------*/

.checkbox_wrapper label {
  background: transparent;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0;
  max-width: 100%;
}

input[type="checkbox"] {
  appearance: none;
  min-width: 1.25rem !important;
  min-height: 1.25rem !important;
  width: 1.25rem;
  height: 1.25rem;
  /* border: 1px solid #D7D8DA; */
  border-radius: 6px;
  padding: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 2px 5px rgba(89, 96, 120, 0.1);
}

.checkbox input {
  /* border: none; */
  background: white;
}

input.checked,
.chkChecked,
.checkbox:checked {
  background-color: #2A3958;
  position: relative;
}

input[type="checkbox"]:before,
.chkChecked:before {
  content: '';
  display: block;
  transition: transform 200ms;
}

input[type="checkbox"]:checked:before,
.chkChecked:checked:before {
  width: 4px;
  height: 9px;
  margin: 3px 8px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

input[type="checkbox"]:disabled {
  background: #DDE0E6;
  border: 1px solid #B1B4BB;
}

.checkbox_wrapper span {
  letter-spacing: -0.02px;
  color: #0B101A;
}

.checkbox .disabled {
  background: #DDE0E6;
  /* border: none */
}

.checkbox .disabled::before {
  content: none;
}

.checkbox_wrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

/* ---------- reason registration / check reason ---------- */

.add_reason {
  background: #DDE0E6;
  border: 1px solid #B1B4BB;
  border-radius: 8px;
  min-height: 6.25rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  outline: none;
  resize: none;
}


textarea {
  color: #5A616A;
}

textarea::placeholder {
  color: #B1B4BB;
}

.disabled {
  background-color: #f3f3f3;
  color: #a0a0a0;
}

.textarea_enabled {
  background: white;
}

.row_div {
  justify-content: space-between;
}

.row_div > div {
  display: flex;
  border: 1px solid #D7D8DA;
}

.row_div input {
  border-bottom: none;
  min-width: 220px;
}

.modal form:nth-child(2) {
  margin-top: 20px;
  border: none;
}

/* ---------- view documents ---------- */

.view_docs {
  height: 40rem;
}

.view_docs form {
  border-radius: 10px;
  height: 45rem;
}

.view_docs label {
  /* height: 44.8rem; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.view_docs input {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.view_docs .file_input_area {
  flex-direction: column;
  overflow-y: scroll;
}

.view_docs .file_input_area li {
  margin: 0.5rem;
}

.view_docs .file_input_area * {
  max-width: 560px;
  max-height: 645px;
  border-radius: 10px;
  display: flex;
}

.view_docs img {
  display: flex;
  margin: auto;
}

.view_docs .model_content {
  height: 29.7rem;
}

.view_docs form,
.view_docs form > div {
  height: 100%;
}

.view_docs li {
  border: 1px solid #B1B4BB;
  border-radius: 10px;
  width: 560px;
  margin: 0.5rem;
  list-style-type: none;
}

.download_btn {
  background-color: #EBEEF3;
  border: 1px solid #D7D8DA !important;
  color: #0B101A;
}

.check_btn {
  background: #2A3958;
  color: white;
}

.req {
  width: 4px;
  height: 4px;
  background: #ff4d4f;
  border-radius: 50%;
  position: relative;
  top: -8px;
}