.member_management {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 2rem auto;
}

.headline {
  color: #0B101A;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.725rem;
  padding-bottom: 17px;
  border-bottom: 1px solid #D7D8DA;
}

.tabs {
  gap: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  margin-top: 12px;
  background-color: #EBEEF3;
  margin-bottom: 2.8rem;
}

.tab {
  padding: 0.5rem;
  text-align: center;
  color: #B1B4BB;
  font-size: 0.85rem;
}

.tab:nth-child(2) {
  color: white;
  background-color: #2A3958;
}

.upper_middle_row {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  border-bottom: 1px solid #D7D8DA;
  padding-bottom: 12.5px;
}

.upper_middle_row,
.lower_middle_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle_row .headline {
  font-size: 1.25rem;
  line-height: 1.438rem;
  display: flex;
  gap: 0.5rem;
  border-bottom: none;
  padding-bottom: 0;
}

.middle_row span {
  color: #5A616A;
  font-size: 0.8rem;
}

.all_dropdowns,
.dropdown {
  display: flex;
  gap: 0.5rem;
}

.box {
  position: relative;
}

.dropdown {
  align-items: center;
  width: 8.5rem;
  background-color: white;
  border: 1px solid #B1B4BB;
  border-radius: 8px;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown svg {
  color: #5A616A;
}

/* .dropdown::after {
  display: flex;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-right: 2px solid #5A616A;
  border-bottom: 2px solid #5A616A;
  vertical-align: 4px;
  content: '';
} */

.select {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(54, 54, 54, 0.15);
}

.select li {
  font-size: 0.875rem;
  cursor: pointer;
  color: #141F2D;
  height: 2.063rem;
  align-items: center;
  display: flex;
  padding: 0.375rem 1rem;
}

.select li:hover,
.selectedOption {
  background: #2A3958;
  color: white !important;
}
.select li:first-child:hover,
.selectedOption:first-child  {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.select li:last-child:hover,
.selectedOption:last-child  {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.select.is-open {
  display: flex;
  flex-direction: column;
  /* gap: 0.4rem; */
  z-index: 1;
}

.dropdown.is-open::after {
  transform: rotate(-135deg);
  vertical-align: middle;
}

.btn {
  background: #2A3958;
  border-radius: 0.625rem;
  font-weight: 700;
  color: white;
  width: 6.25rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: none;
}

.lower_middle_row {
  padding-top: 12px;
}

.lower_middle_row > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.lower_middle_row > p {
  margin-right: 1rem;
}


/* ---------- Clients Table ---------- */

.clients_table {
  white-space: nowrap;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.labels {
  background-color:#EEF0F4;
}

tr {
  display: flex;
  width: 100%;
  align-items: center;
 }

th {
  font-weight: 700;
  font-size: 1rem;
  color: #222222;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-right: 1px solid #FFFFFF;
}

th:last-child {
  border-right: none;
}

 th, td {
  padding: 0 0.625rem;
  width: 10%;
  text-align: center;
  min-width: 5.5rem;
  min-height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labels .checkbox,
.customer .checkbox,
.labels .serial,
.customer .serial {
  width: 5%;
  min-width: 2.5rem;
}

.labels .date,
.customer .date {
  width: 15%;
  min-width: 11.25rem;
  white-space: initial;

}

.labels .reason,
.customer .reason {
  width: 35%;
  min-width: 22.313rem;
  white-space: initial;
}


td {
  font-size: 0.78rem;
  font-weight: 700;
  min-height: 44px;
  min-width: 86px;
  letter-spacing: 0.03em;
}

.customer {
  background-color: #F9F9FB;
}

.customer:nth-child(odd) {
  background-color: white;
}

.docs span {
  background-color: #EBEEF3;
  border: 1px solid #D7D8DA;
  border-radius: 8px;
  min-height: 1.813rem;
  min-width: 3.875rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.approval span {
  border-radius: 10px;
  padding: 0.125rem 0.625rem;
}

.waiting span {
  color: #9A3412;
  background-color: #FFEDD5;
}

.denied span {
  color: #991B1B;
  background-color: #FEE2E2
}

.approved span {
  color: #166534;
  background-color: #DCFCE7;
}

/* ---------- Scrollbar ---------- */

.clients_table::-webkit-scrollbar {
  height: 8px;
  background: #E6E8EA;
  border-radius: 20px;
}

.clients_table::-webkit-scrollbar-thumb {
  background-color: #6F80A0;
  border-radius: 20px;
  transform: matrix(0, 1, 1, 0, 0, 0);
  width: 10px;
}

.clients_table::-webkit-scrollbar-thumb:hover {
  background-color: #2A3958;
}


.checkbox span {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 2px 5px rgba(89, 96, 120, 0.1);
  border-radius: 4px;
  outline: none;
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
}

.customer:nth-child(3n+1) .checkbox span {
  background-color: white;
}

.customer:nth-child(3n+2) .checkbox span,
.customer:nth-child(3n+3) .checkbox span {
  background-color: #DDE0E5;
}

/* ---------- Pagination ---------- */

.pagination_frame {
  background: #F1F3F5;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
}

.arrows {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  justify-content: space-evenly;
}

.numbers {
  display: flex;
  font-weight: 700;
  color: #A1A1A1;
  font-size: 0.95rem;
}

.numbers p {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
}
.numbers p:first-child {
  background: #2A3958;
  color: #F5F5F5;
  border-radius: 4px;
  font-size: 1.1rem;
}

.no_result {
  flex-direction: column;
  height: 50vh;
  background: white;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.popup.show {
  display: block;
}