/* 
.all_dropdowns,
.dropdown {
  display: flex;
  gap: 0.5rem;
}

.box {
  position: relative;
}

.dropdown {
  align-items: center;
  width: 8.5rem;
  background-color: white;
  border: 1px solid #B1B4BB;
  border-radius: 8px;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown svg {
  color: #5A616A;
}


.select {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(54, 54, 54, 0.15);
}

.select li {
  font-size: 0.875rem;
  cursor: pointer;
  color: #141F2D;
  height: 2.063rem;
  align-items: center;
  display: flex;
  padding: 0.375rem 1rem;
}

.select li:hover,
.selectedOption {
  background: #2A3958;
  color: white !important;
}
.select li:first-child:hover,
.selectedOption:first-child  {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.select li:last-child:hover,
.selectedOption:last-child  {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.select.is-open {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown.is-open::after {
  transform: rotate(-135deg);
  vertical-align: middle;
}




 */
