.investment_change {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  border-radius: 12px;
  min-height: 29rem;
  width: 50rem;
}

.investment_change > div:first-child {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 4.5rem;
  border-bottom: 1px solid #D7D8DA;
  padding: 0 1.5rem;
}

.title {
  font-weight: 700;
  font-size: 1.125rem;
  color: #0B101A;
}

.xmark {
  color: #5A616A;
  font-size: 1.5rem;
}

.model_content {
  padding: 1.25rem 1.5rem 2rem 1.5rem;
  border-bottom: 1px solid #D7D8DA;
}

form {
  border: 1px solid #D7D8DA;
  color: #0B101A;
}

form > div {
  display: flex;
  min-height: 3.063rem;
}

label {
  background: #EEF0F4;
  align-items: center;
  display: flex;
  min-width: 9.375rem;
  padding: 0 0.9rem;
  border-bottom: 1px solid white;
  font-weight: 700;
  font-size: 0.95rem;
  max-width: 9.375rem;
}

input::placeholder {
  color: #0B101A;
}

input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #D7D8DA;
}


form div:last-child > label,
form div:last-child > input {
  border-bottom: none;
}

.investment_change .investment_dropdown {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  width: 100%;
  border-bottom: 1px solid #D7D8DA;
}

.investment_change .dropdown {
  height: 2.25rem;
  width: 17.625rem;
  color: #222;
}

.investment_change .modal-open {
  width: 17.625rem;
  top: 44px;
  margin-left: 0.5rem;
}

form input[type="file"] {
  /* color: transparent; */
  padding: 0.5rem;
  display: none;
  position: absolute;
}

.file_label {
  background: transparent;
  padding: 0;
  min-width: 4.938rem;
}

.upload_files {
  text-align: center;
  color: #222;
  background: #EBEEF3;
  border: 1px solid #D7D8DA;
  border-radius: 8px;
  cursor: pointer;
  min-width: 4.9rem;
  height: 2.25rem;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.file_input_area,
.files_list,
.files_list > div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.file_input_area {
  padding: 0.5rem;
}

.file_input_area,
.files_list {
  gap: 0.6rem;
}

.files_list {
  flex-wrap: wrap;
}

.files_list > div {
  color: #5A616A;
  letter-spacing: -0.02px;
  font-size: 0.8rem;
  text-decoration: underline;
}

.files_list svg {
  background: #DDE0E6;
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.info {
  list-style-type: disc;
  padding: 0.5rem 1.5rem;
  color: #0B101A;
  font-size: 0.813rem;
  letter-spacing: -0.02px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.model_btns {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
}

.model_btns button {
  border-radius: 10px;
  width: 10rem;
  height: 2.75rem;
  font-weight: bold;
  border: 1.5px solid #2A3958;
}

.save_btn {
  background: #2A3958;
  color: white;
}

.cancel_btn {
  background: white;
  color: #2A3958;
}


/* ---------- Register Reason ---------- */

.register_reason {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  border-radius: 12px;
  min-height: 38.56rem;
  width: 50rem;
}

.register_reason > div:first-child {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 4.5rem;
  border-bottom: 1px solid #D7D8DA;
  padding: 0 1.5rem;
}

.checkbox_wrapper label {
  background: transparent;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #D7D8DA;
  border-radius: 6px;
  padding: 0;
}

input.checked,
.chkChecked {
  background-color: #2A3958;
  position: relative;
}

input[type="checkbox"]:before,
.chkChecked:before {
  content: '';
  display: block;
  transition: transform 200ms;
}

input[type="checkbox"]:checked:before,
.chkChecked:checked:before {
  width: 4px;
  height: 9px;
  margin: 2px 6px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.checkbox_wrapper span {
  letter-spacing: -0.02px;
  color: #0B101A;
}

.checkbox_wrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.checkbox_wrapper label {
  max-width: 100%
}

.checkbox_wrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.add_reason {
  background: #DDE0E6;
  border: 1px solid #B1B4BB;
  border-radius: 8px;
  min-height: 6.25rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  outline: none;
  resize: none;
}

textarea {
  color: #5A616A;
}

textarea::placeholder {
  color: #B1B4BB;
}

.disabled {
  background-color: #f3f3f3;
  color: #a0a0a0;
}

.textarea_enabled {
  background: white;
}


.check_reason {
  height: 42.938rem;
}

.row_div {
  justify-content: space-between;
}

.row_div > div {
  display: flex;
  border: 1px solid #D7D8DA;
}

.row_div input {
  border-bottom: none;
  min-width: 220px;
}

.check_reason form:first-child {
  margin-bottom: 20px;
}

.check_reason form:nth-child(2) {
  border: none;
}
