@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Pretandard', sans-serif;
  background-color: #F5F5F5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* ---------- Scrollbar ---------- */

::-webkit-scrollbar {
  height: 8px;
  background: #E6E8EA;
  border-radius: 20px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #6F80A0;
  border-radius: 20px;
  transform: matrix(0, 1, 1, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2A3958;
}
